#about
    // padding: 80px 0
    .textbox
        h1
            font-size: 45px
            font-weight: 700 
        h4
            color: #6c757d
            font-size: 18px
            margin: 20px 0 60px
            line-height: 1.2
    .col-md-12
        flex-direction: column
    .left
        .imgbox
            order: -1
        .textend
            text-align: start
    .right
        justify-content: flex-start
    .box
        width: 100%
        display: flex
        margin-bottom: 40px
        .imgbox
            width: 80px
            height: 80px   
            border-radius: 50%
            border: 7px solid #e9ecef
            background-color: #ffc800
        .textbox
            max-width: 430px
            h2, h3
                font-weight: 600
                font-size: 26px
                margin-bottom: 10px
            h3
                font-weight: 700
            p
                font-size: 19px
                color: #6c757d
                line-height: 1.5
        .textend
            padding: 0 20px 0 30px
        .textstart
            padding: 0 30px 0 20px
        .txtbox
            width: 100px
            height: 100px   
            border-radius: 50%
            border: 7px solid #e9ecef
            background-color: #ffc800
            padding: 10px 25px
            h5
                font-size: 12px
                font-weight: 600
                color: #ffffff
                line-height: 1.3
    .last
        justify-content: flex-start
    
    @media screen and ( min-width: 768px )
        .box
            .imgbox
                width: 100px
                height: 100px
            .img-start
                margin-left: 13px
            .img-end
                margin-right: 13px
            .textbox
                max-width: 345px
                h2, h3
                    font-size: 24px
                p
                    font-size: 16px
            .textend
                margin-left: -60px
            .textstart
                margin-right: -60px
        .left
            .imgbox
                order: 1
            .textend
                text-align: end
        .right
            justify-content: flex-end
        .last
            justify-content: center
            
    @media screen and ( min-width: 992px )
        .box
            .imgbox
                width: 150px
                height: 150px
            // .img-start
            //     margin-left: 13px
            // .img-end
            //     margin-right: 13px
            .textbox
                max-width: 380px
                h2, h3
                    font-size: 27px
                p
                    font-size: 18px
            .textend
                padding: 0 20px 0 30px
                margin-left: 0px
            .textstart
                padding: 0 30px 0 20px
                margin-right: 0px
            .txtbox
                width: 150px
                height: 150px
                padding: 15px 40px
                h5
                    font-size: 20px
                    line-height: 1.4


    @media screen and ( min-width: 1200px )
        .box
            margin-bottom: 50px
            .imgbox
                width: 170px
                height: 170px
            .textbox
                max-width: 460px
                h2, h3
                    font-size: 30px
            .textend
                padding: 0 20px 0 130px
                margin-left: 0px
            .textstart
                padding: 0 130px 0 20px
                margin-right: 0px
            .txtbox
                width: 170px
                height: 170px

                    
                


                
//             .txtbox
//                 width: 80px
//                 height: 80px
//                 background-color: #ffc800
//                 border-radius: 50%
//                 border: 7px solid #e9ecef
//                 display: flex 
//                 justify-content: center
//                 align-items: center
//                 padding: 15px 
                