#about
    .textbox
        h1
            font-size: 45px
            font-weight: 700 
        h4
            color: #6c757d
            font-size: 18px
            margin: 20px 0 40px
            line-height: 1.2
    .col-md-12
        flex-direction: column
    .box
        width: 100%
        display: flex
        margin-bottom: 50px
        .imgbox
            width: 170px
            height: 170px   
            border-radius: 50%
            border: 7px solid #e9ecef
            background-color: #ffc800
        .img-start
            margin-left: 13px
        .img-end
            margin-right: 13px
        .textbox
            max-width: 460px
            h2
                font-weight: 600
                font-size: 30px
                margin-bottom: 10px
            p
                font-size: 18px
                color: #6c757d
                line-height: 1.5
        .text-end
            padding: 0 20px 0 130px
        .text-start
            padding: 0 130px 0 20px
            
        // .txtbox
        //     width: 170px
        //     height: 170px   
        //     border-radius: 50%
        //     border: 7px solid #e9ecef
        //     background-color: #ffc800
        //     padding: 15px 40px
            // h3
            //     font-size: 20px
            //     font-weight: 600
            //     color: #ffffff
            //     line-height: 1.4


                    
                


                
//             .txtbox
//                 width: 80px
//                 height: 80px
//                 background-color: #ffc800
//                 border-radius: 50%
//                 border: 7px solid #e9ecef
//                 display: flex 
//                 justify-content: center
//                 align-items: center
//                 padding: 15px 
                