#about
    .textbox
        h1
            font-size: 40px 
            font-weight: 700
        h4
            color: #6c757d
            font-size: 18px
            font-weight: 500
            margin: 20px 0 40px
    