footer
    padding: 50px 0
    .textbox
        h2
            font-size: 22px
    ul
        display: flex
        justify-content: center
        li
            margin: 0 10px
            .icon
                display: flex
                justify-content: center
                align-items: center
                border-radius: 50%
                width: 40px
                height: 40px
                background-color: #212529
                i
                    color: #ffffff
                    &:hover
                        cursor: pointer
                &:hover
                    opacity: 0.8
                    cursor: pointer