header
    // position: fixed
    width: 100%
    z-index: 1
    background-color: #212529
    .menu
        // padding-top: 40px
        // padding-bottom: 20px
        .imgbox
            width: 220px
            height: 150px
        nav
            a
                color: #ffffff
                margin: 0 20px
                font-size: 18px
                &hover
                    color: #e1b106
                    
