#welcome
    background-image: url(Assets/header-bg.jpg)
    .textbox
        h1
            font-family: 
            font-size: 40px
            color:#ffffff
        h2
            color: #ffffff
            font-size: 60px
            font-family: 
        .btn
            background-color: #ffc800
            width: 120px
            height: 60px
            h3
                color: #ffffff