#welcome
    padding-bottom: 200px
    background-image: url(Assets/header-bg.jpg)
    background-size: cover
    .textbox
        padding-top: 200px
        flex-direction: column
        h1, h2, h3
            color:#ffffff
            font-weight: 700
        h1           
            font-size: 45px
            font-weight: 500
            margin-top: 18px
        h2
            font-size: 80px
            margin-top: 32px 
        .btn
            background-color: #ffc800
            width: 220px
            height: 60px
            padding: 35px 30px
            margin-top: 48px
            border-radius: 7px
            h3
                font-size: 21px
            &:hover
                background-color: #d9aa00